@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<h1>Secret Phrase</h1>

@if (User.IsInRole("Alpha"))
{
    <h3>LaLuLiLuLo</h3>
}
else if (User.IsInRole("Beta"))
{
    <h3>Guns of Patriots</h3>
}