@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<h1>Secret Phrase</h1>

@if (User.IsInRole("Alpha"))
{
    <h3 style="color: darkred">La-li-lu-le-lo</h3>
}
else if (User.IsInRole("Beta"))
{
    <h3 style="color: darkgreen">Guns of Patriots</h3>
}
else if (User.IsInRole("Charlie"))
{
    <h3 style="color: aquamarine">You're pretty good</h3>
}

@if (!SignInManager.IsSignedIn(User))
{
    <h3>Nothing to see here</h3>
}